.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
  margin-bottom: 25px;
  border-bottom: solid rgba(61, 61, 148, 0.932) 2px;
  color: rgb(204, 204, 204);
  background-color: #22252b;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  height: 70px;
  width: 70px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.btn {
  width: 130px;
  height: 40px;
  border-radius: 25px;
}
