.main {
  width: 50%;
  height: 3000px;
  box-shadow: 0 0 10px rgb(236, 3, 236);
  border-radius: 8px;
}

.sorting {
  height: 40px;
}

.options {
  display: flex;

  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

li {
  transition: 0.5s;
  margin: 3px;
  border-radius: 8px;
  font-size: 25px;
  padding: 8px 10px 12px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(177, 0, 177);
}
